.page
{
    width: 1690px;
    height: 1443px;
    border-style: groove;
}
.headerpart
{
    width: 1688px;
    height: 175px;
    border-style: groove;
    background-color: rgb(12, 198, 182);
    background-repeat: no-repeat;
}
.headerpart img{
    height: 152px;
    width: 1685px;
}
.linkspart
{
    width: 1685px;
    height: 31px;
    margin-top: 5px;
    border-style: groove;
    background-color: rgb(12, 198, 182);
   
}
.linkspart .mark
{
    font-size:  30px;;
    word-spacing: 1px;
}
 /* .linkspart a
{
    color: rgb(245,246,251);
    text-decoration: none;
    font-size: 30px;
   word-spacing: 100px;
}
.linkspart a:hover
{
    background-color: rgb(245,246,251);
    color: #092012;
}
 */
.bodypart
{
    width: 1685px;
    height: 365px;
    border-style: groove;
    margin-top: 5px;
    
    
}
.bodypart .imagepart
{
    width: 501px;
    height: 360px;
    border-style: groove;
  background-image: url('image/college.jpg');  
  background-repeat: no-repeat;
  float: left;
}
.bodypart .map
{
    width: 664px;
    height: 359px;
    margin: 0 auto;
    border-style: groove;
    
}
.bodypart .map img{
    width: 664px;
    height: 359px;
}

.bodypart .newspart
{
    width: 501px;
    height: 359px;
    border-style: groove;
    float: right;
}
.middle
{
 width: 1685px;
 height: 300px;
 border-style: groove;
 margin-top: 2px;
}
 .middle .column3{
    float: right;
    width: 33.00%;
    height: 293px;
    border-style: groove;
    margin-top: 1px;
}
 .middle .column1{
    float: left;
    width: 33.00%;
    height: 293px;
    border-style: groove;
    margin-top: 1px;
    background-color: bisque;
}
 .middle .column2{
    margin:  0 auto;
    width: 33.00%;
    height: 293px;
    border-style: groove;
    margin-top: 1px;
}

.middle .column1 a
{
    color: rgb(102, 26, 224);
    
    font-size: 30px;
   word-spacing: 100px;
    text-decoration: bold;
}
.middle .column1 a:hover
{
    background-color: rgb(6, 10, 27);
    color: #1edf28;
}
/* About us start */
.about
{
    width: 100%;
    height: 60vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .content img
{
   height: auto;
   width: 600px;
   max-width: 100%;

}
.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.content
{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.text h1{
    color: #ffcc74;
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;

}
.text h5{
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.text p{
    color: #c0c4d6;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}
button{
    background-color: #f3138e;
    color: black;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size:bold ;
}
button:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
    transition: 3s;
}
@media screen and(max-width){
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
    @media screen and(max-width:650px){
                 .about .content img{
                     margin-bottom: 35px;
                 }
          .text h1{
              font-size: 60px;
              margin-bottom: 25px;
          }       
    }
}
.num
{
    border-style: groove;
    height: 30px;
 font-size: 25px;
 word-spacing: 2px;
background-color: darkturquoise;
color: rgb(33, 30, 219);
}